# Supabase Configuration
SUPABASE_URL=https://xvascbatpefpgjsqedol.supabase.co
SUPABASE_ANON_KEY=sb_publishable_hwZbWutczuqOOV2Kwf-4rg_9Zdllqxt

# Gmail Configuration for Nodemailer
GMAIL_USER=jumpflixapp@gmail.com
GMAIL_APP_PASSWORD=juli22jac
