
.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 25%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  background-color: black;
  padding: 35px;
  border: 2px solid red;
  box-shadow: 0 0 15px red;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.seta:after{ /*Triangulo*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    /*Faz seta "apontar para baixo. Definir o valor como 'top' fará ela "apontar para cima" */
    /*Aqui entra a cor da "aba" do balão */
    border-bottom: 20px solid #09090b;
    top: -10px; /*localização. Experimente alterar para 'bottom'*/
    left: 53%;
}

.slick-dots {
  text-align: center;
}

.slick-dots li button {
  width: 50px;
  height: 3px;
  background-color: transparent;
}

.slick-dots li button:before {
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background-color: white;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.slick-dots li.slick-active button:before {
  background-color: red;
}

.slick-prev {
  color: white;
  z-index: 1;
}

.slick-prev:hover, .slick-prev:focus {
  color: red;
}

.movie-item {
  padding: 0 10px;
}

.slide-in-right {
  transform: translateX(100%);
}

.slide-in-left {
  transform: translateX(-100%);
}

.ReactModal__Overlay--after-open .slide-in-right {
  transform: translateX(0);
}

.ReactModal__Overlay--after-open .slide-in-left {
  transform: translateX(0);
}

.ReactModal__Overlay--before-close .slide-in-right {
  transform: translateX(100%);
}

.ReactModal__Overlay--before-close .slide-in-left {
  transform: translateX(-100%);
}